.SocialIcons__list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.SocialIcons__list-item {
  margin: 0 20px;
}

.SocialIcons__icon {
  width: 20px;
}
