@import "colors";
@import "fonts";

.AboutItem {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  min-height: 100px;

  &__logo-wrapper {
    padding: 0 20px;
    width: 15%;
  }

  &__logo {
    width: 100%;
  }

  &__info {
    padding: 0 10px 0;
    width: 85%;
  }

  &__info-header {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 8px 0;
  }

  &__date {
    @include font-16($black);
  }

  &__description,
  &__location {
    @include font-16($black);
    line-height: 1.5;
    margin: 0;
  }

  &__title {
    @include font-18-bold($black);
    margin: 0;
  }

  &__deck-link-wrapper {
    display: block;
    margin: 15px 15px 15px 0;
    text-align: right;
  }

  &__deck-link {
    @include font-14-italic($pink);
    display: inline-block;
    text-decoration: none;
  }

  &__deck-link:hover {
    background: $pink;
    color: $white;
  }
}
