@import "./colors";
@import "./fonts";

.BlogPostHero {
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: auto;
  height: 175px;
  justify-content: center;
  min-height: 150px;
  text-align: center;

  &__caption {
    @include font-14-italic($black);
    display: block;
    margin: 15px 0;
  }

  &__date,
  &__title {
    margin: 0;
  }

  &__title {
    @include font-28-bold($white);
    margin-bottom: 15px;
  }

  &__time {
    @include font-16-bold($white);
    font-style: italic;
    margin: 0 0 5px 0;
  }

  &__date {
    @include font-16-bold($white);
    font-style: italic;
  }
}
