@import "./colors";
@import "./fonts";

.BlogIndex {
  &__link {
    text-decoration: none;
  }

  &__header {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 15px 0;
  }

  &__image {
    height: 200px;
    margin: 0 0 30px 0;
    object-fit: cover;
    width: 100%;
  }

  &__date,
  &__title {
    margin: 0;
  }

  &__title {
    @include font-18-bold($black);
  }

  &__date {
    @include font-14($black);
  }

  &__body {
    @include font-16($black);
    line-height: 1.5;
    margin-bottom: 15px;

    p {
      margin: 0;
    }
  }

  &__read-more-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  &__read-more {
    @include font-16($aqua);
    margin-right: 15px;
    text-decoration: none;
  }
}
