@import "colors";
@import "fonts";

.HeroBlock {
  text-align: center;

  &__title {
    @include font-36-bold($black);
    letter-spacing: -5%;
    margin: 0;
  }

  &__subtitle {
    @include font-28-bold($black);
    margin: 5px;
  }

  &__avatar {
    border: 4px solid $black;
    border-radius: 50%;
    display: block;
    margin: 15px auto 15px;
    max-width: 175px;

    &--index {
      border-color: $pink;
    }

    &--blog {
      border-color: $aqua;
    }

    &--portfolio {
      border-color: $yellow;
    }
  }
}
