@import "colors";

.Layout {
  height: 100vh;
  padding: 25px 25px 35px;

  &--index {
    background: $pink;

  }

  &--blog {
    background: $aqua;
  }

  &--portfolio {
    background: $yellow;
  }

  &__content {
    margin: 0 auto;
    max-width: 800px;
  }
}
