@import "colors";
@import "fonts";

.Nav {
  @include font-14-bold($white);

  display: flex;
  justify-content: space-around;
  width: 100%;

  &__link,
  &__link:visited,
  &__link:hover {
    border: 1px solid transparent;
    color: $white;
    padding-bottom: 10px;
    text-decoration: none;
    text-transform: lowercase;
    transition: border 150ms ease-in;
  }

  &__link:hover {
    border-bottom: 1px solid $white;
  }
}
