@import "colors";
@import "fonts";

.page {
  &__section {
    padding: 0 10px;
  }

  &__section-header {
    @include font-18-bold($black);
  }

  &__paragraph {
    @include font-14($black);
  }

  &__line {
    border: none;
    height: 2px;
    margin: 40px auto;
    max-width: 125px;

    &--index {
      background-color: $pink;
    }

    &--blog {
      background-color: $aqua;
    }

    &--portfolio {
      background-color: $yellow;
    }
  }
}
