@import "colors";
@import "fonts";

.PortfolioItem {
  display: flex;
  flex-direction: row;

  .PortfolioItem__title,
  .PortfolioItem__description {
    margin: 0;
  }

  .PortfolioItem__title {
    @include font-18-bold($black);
    margin: 0 0 10px 0;
  }

  .PortfolioItem__description {
    @include font-16($black);
    line-height: 1.5;
  }

  .PortfolioItem__img-wrapper {
    width: 30%;
  }

  .PortfolioItem__img {
    width: 100%;
  }

  .PortfolioItem__content {
    padding: 5px 20px 20px;
    width: 100%;
  }
}

.PortfolioItem__link {
  text-decoration: none;
}
