@import "colors";

.SocialIcons__list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0 0 5px 0;
  padding: 0;
}

.SocialIcons__list-item {
  margin: 0 10px 0 10px;
}

.SocialIcons__icon {
  fill: $white;
  width: 20px;
}
