@import "colors";

.SocialIcons {
  &__list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0 0 5px 0;
    padding: 0;
  }

  &__list-item {
    margin: 0 10px 0 10px;
  }

  &__icon {
    fill: $black;
    width: 20px;
  }

  &__link--blog:hover {
    .SocialIcons__icon {
      fill: $aqua;
    }
  }
  &__link--index:hover {
    .SocialIcons__icon {
      fill: $pink;
    }
  }
  &__link--portfolio:hover {
    .SocialIcons__icon {
      fill: $yellow;
    }
  }
}
